/*!
 * console-game, by @iGitScor
 *
 * github.com/iGitScor | console-game
 */
/*------------------------------------*\
    #TERMINAL
\*------------------------------------*/


.terminal {
    margin: 0;
    padding: 0;
    font-family: Menlo, Courier New;
    font-size: $cg-base-font-size;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    color: $cg-base-text-color;

    .terminal__input {
        &:before {
            content: '[iScor@react]$ ';
            color: $cg-base-input-color;
        }
    }

    .terminal__output {
        .is-console:before {
            margin-right: 10px;
            content: '>';
        }

        .is-not-defined:before {
            content: 'undefined';
            color: $cg-base-undefined-color;
        }
    }
}
